[submodule "Plugin/DataTable"]
	path = Plugin/DataTable
	url = https://github.com/tigrang/cakephp-datatable.git
[submodule "Plugin/TwitterBootstrap"]
	path = Plugin/TwitterBootstrap
	url = git://github.com/loadsys/twitter-bootstrap-helper
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
